.main {
    background: #fff;
    width: 80%;
    max-width: 600px;
    margin: 40px auto 0 auto;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    color: rgb(5, 144, 16);
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main h1 {
    text-align: center;
    margin-bottom: 20px;
}

.main form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main form input, .main form button {
    padding: 12px;
}

.main form input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(5, 144, 16);
    border-right: 0px;
}

.main form button {
    display: flex;
    background: rgb(5, 144, 16);
    color: #fff;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    border-width: 2px;
    border-style: solid;
    border-color: rgb(5, 144, 16);
    border-left: 0px;
}


.tasks {
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    border-radius: 6px;
    background: #fff;
    padding: 15px;
    color: rgb(5, 144, 16);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tasks ul {
    list-style: none;
}

.tasks ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 6px;
    padding: 10px;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 600ms ease-in-out;
}

.tasks ul li:hover {
    background: rgb(187, 251, 192);
    border-color: transparent;
}

.tasks ul li:last-child {
    margin-bottom: 0;
}

.tasks ul li span {
    display: flex;
    align-items: center;
}

.tasks ul li span svg {
    font-size: 25px;
    cursor: pointer;
}

.tasks ul li span svg:first-child {
    margin-right: 10px;
    color: rgb(136, 136, 4);
}

.tasks ul li span svg:first-child:hover {
    color: rgb(112, 112, 8);
}

.tasks ul li span svg:last-child {
    color: rgb(168, 38, 6);
}

.tasks ul li span svg:last-child:hover {
    color: rgb(100, 25, 7);
}

